{
	"endOfLine": "auto",
	"printWidth": 120,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "strict"
}

